@import '~antd/dist/antd.css';

$textColor: #891dd0;
$borderColor: #ff014e;

.login-form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px 60px;
	width: 400px;
    border: 4px solid $borderColor;

    h3 {
        color: $textColor;
        text-align: center;
        font-weight: 700;
    }

    input{
        padding: 5px;
        margin-top: 5px;
        margin-left: 10%;
        width: 80%;
        border: 3px solid $borderColor;
        font-weight: 500;
    }

    button {
        margin-left: 35%;
    }

    span {
        margin-left: 10%;
        color: $textColor;
        font-weight: 700;
    }

    .error-text {
        color: red;
        opacity: 1;
        font-size: 0.8rem;
        margin-left: -3%;
        text-align: center;
        display: block;
    }
}